<h2>All Travelers</h2>

<ul>
  <% @travelers.each do |traveler| %>
    <li>
      <%= link_to traveler.name, traveler_path(traveler) %>
      <%= traveler.countries.count %><br>
    </li>
  <% end %>
</ul>
